

@font-face
  font-family: Arial

body
  position: relative
  width: 80%
  margin: 0 auto
  font-family: Arial

:root
  --primary-color: #28a745
  --primary-blue: #007aff
  --light-grey: #777777
  --dark-grey: #353a40


.bold
  font-weight 600

.white-text
  color #ffffff

.title
  color: var(--primary-color)
  font-size: 28px
  font-weight: bold
  line-height: 1.9W

.icon
  width: 20px
  height: 20px
  cursor: pointer

.main-btn
  border-radius 4px
  background-color: var(--primary-color)
  color: #fff

/*material*/

.mat-select
  border-bottom 1px solid !important
